@import './variables.scss';

@mixin buttonStyle($bgColor, $textColor, $shadowColor) {
    background: $bgColor;
    color: $textColor;
    box-shadow: 0 3px 5px 0 rgba($shadowColor, .25);

    &:hover,
    &:focus {
        box-shadow: 0 5px 5px 0 rgba($shadowColor, .3);
    }

    &:focus {
        background: lighten($color: $bgColor, $amount: 5);
    }

    &:active {
        background: darken($color: $bgColor, $amount: 5);
    }

    &:disabled {
        background: lighten($color: $bgColor, $amount: 10);
        box-shadow: none;

        &:hover,
        &:focus,
        &:active {
            box-shadow: none;
        }
    }
}

@mixin buttonLink($textColor) {
    background: none;
    color: $textColor;
    box-shadow: none;

    &:hover,
    &:focus {
        box-shadow: none;
    }

    &:hover {
        color: lighten($color: $textColor, $amount: 10);
    }

    &:focus {
        background: none;
        color: lighten($color: $textColor, $amount: 15);
    }

    &:active {
        background: none;
        color: darken($color: $textColor, $amount: 15);
    }

    &:disabled {
        background: none;
        box-shadow: none;
        color: lighten($color: $textColor, $amount: 20);
    }
}

@mixin buttonTransparent($color) {
    background: none;
    color: $color;
    box-shadow: 0 2px 5px 0 rgba(black, .075);


    &:hover,
    &:focus {
        box-shadow: 0 2px 3px 0 rgba(black, .15);
    }

    &:hover {
        color: darken($color: $color, $amount: 10);
    }

    &:focus {
        background: none;
        color: darken($color: $color, $amount: 15);
    }

    &:active {
        background: none;
        color: lighten($color: $color, $amount: 20);
    }

    &:disabled {
        background: none;
        box-shadow: none;
        color: lighten($color: $color, $amount: 20);
    }
}

%title {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    letter-spacing: $letterSpacing;
    font-weight: bold;
}

%button {
    padding: $space;
    border-radius: $borderRadius;
    text-transform: uppercase;
    min-width: 120px;
    font-weight: bold;
    transition: $transition;
    border: none;
    letter-spacing: $letterSpacing;
    text-align: center;
    vertical-align: middle;
    line-height: 1.2;
    cursor: pointer;
    @include buttonStyle($blue, white, $blue);
}

%input {
    padding: $space;
    display: block;
    width: 100%;
    border-radius: $borderRadius;
    box-shadow: 0 5px 5px -3px rgba(black, .05);
    background: white;
    border: 1px solid $lightgrey;
    letter-spacing: $letterSpacing;
    transition: $transition;
    color: $grey;

    &:hover,
    &:focus {
        color: black;
    }

    &:focus {
        box-shadow: 0 3px 5px 0px rgba(black, .1);
    }
    
    &:focus {
        color: black;
    }

    &:disabled {
        color: $lightgrey;
        box-shadow: none;
        cursor: not-allowed;
    }
}

%list {
    list-style: none;
    margin: 0;
    padding: 0;
}
