@import './variables.scss';

%title {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    letter-spacing: $letterSpacing;
}

%button {
    padding: $space $space * 2;
    border-radius: $space * 2;
    text-transform: uppercase;
    min-width: 120px;
    background: #947fee;
    color: #97e5f8;
    font-weight: bold;
    transition: $transition;
    border: none;
    letter-spacing: $letterSpacing;
    text-align: center;

    &:hover,
    &:focus {
        background: #9684e5;
        box-shadow: 0 5px 10px 0 rgba(#00ffc8, .5);
    }

    &:active {
        background: #7961e2;
    }

    &:disabled {
        background: #c1b9e2;
        box-shadow: none;
        cursor: not-allowed;
    }
}

%input {
    display: block;
    width: 100%;
    padding: $space * 2;
    border-radius: $borderRadius;
    background: white;
    box-shadow: inset 0 0 10px #efefef;
    border: 1px solid #ededed;
    letter-spacing: $letterSpacing;
    transition: $transition;
    color: #252525;

    &:hover,
    &:focus {
        box-shadow: inset 0 0 2px #efefef;
    }
    
    &:focus {
        color: black;
    }

    &:disabled {
        color: #494545;
        box-shadow: inset 0 0 20px #f3f3f3;
        cursor: not-allowed;
    }
}

%list {
    list-style: none;
    margin: 0;
    padding: 0;
}
