@import './variables.scss';
$size: 5em;
$borderSize: .5em;

.preloader,
.preloader:after {
    border-radius: 50%;
    width: $size;
    height: $size;
}

.preloader {
    position: relative;
    border-top: $borderSize solid rgba($grey, .2);
    border-right: $borderSize solid rgba($grey, .2);
    border-bottom: $borderSize solid rgba($grey, .2);
    border-left: $borderSize solid $blue;
    transform: translateZ(0);
    animation: preloader 1s infinite linear;
}

.form-preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -($size / 2);
    margin-left: -($size / 2);
    z-index: 3;
}

@keyframes preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
