@import './variables.scss';
@import './common.scss';

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.block {
    padding: $space * 3;
    border-radius: $borderRadius * 3;
    box-shadow: $shadow;
}

.button {
    @extend %button;

    &-success {
        background: #3ff5a0;
        color: #0036ac;
    
        &:hover,
        &:focus {
            background: #60ffb5;
            box-shadow: 0 5px 10px 0 rgba(#f08abd, .5);
        }
    
        &:active {
            background: #6be0a9;
        }

        &:disabled {
            background: #c6ebda;
            color: #405279;
            box-shadow: none;
        }
    }

    &-danger {
        background: #ff0022;
        color: #ffffff;
    
        &:hover,
        &:focus {
            background: #ff1131;
            box-shadow: 0 5px 10px 0 rgba(#ff950b, .5);
        }
    
        &:active {
            background: #da0053;
        }

        &:disabled {
            background: #be6587;
            color: #d6d6d6;
            box-shadow: none;
        }
    }

    &-grey {
        background: #d9d5eb;
        color: #455053;
    
        &:hover,
        &:focus {
            background: #e0dcf1;
            box-shadow: 0 5px 10px 0 rgba(#cddfda, .5);
        }
    
        &:active {
            background: #cfcadf;
        }

        &:disabled {
            background: #d0ced6;
            color: #757f81;
            box-shadow: none;
        }
    }

    &-flat {
        padding: 0;
        min-width: 0;
        border-radius: 0;
        background: none;
        color: #1548b6;

        &:hover,
        &:focus {
            background: none;
            box-shadow: none;
            color: #5f92ff;
        }

        &:active {
            color: #9900ff;
        }
    }
}

.title {
    @extend %title;
    font-size: 2em;
}

.text {
    &-left {
        text-align: left;
    }

    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }
}

.form-message {
    padding: $space * 2;
    text-align: center;
    color: #5b4d66;
    letter-spacing: .075em;
    background: #f7f5f8;
    border-radius: $borderRadius * 2;
}

.required {
    font-size: 12px;
    vertical-align: .5em;
    color: red;
}

.relative {
    position: relative;
}

.form-preloader {
    bottom: 0;
    right: 0;
}
