@import './variables.scss';
@import './common.scss';

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.block {
    border-radius: $borderRadius * 3;
    box-shadow: $shadow;
}

.button {
    @extend %button;
    display: inline-block;

    &-green {
        @include buttonStyle($green, black, $green);

        &.button-flat {
            @include buttonFlat($green);
        }
    }

    &-red {
        @include buttonStyle($red, white, $orange);

        &.button-flat {
            @include buttonFlat($red);
        }
    }

    &-orange {
        @include buttonStyle($orange, black, $yellow);

        &.button-flat {
            @include buttonFlat($orange);
        }
    }

    &-yellow {
        @include buttonStyle($yellow, black, $orange);

        &.button-flat {
            @include buttonFlat($yellow);
        }
    }

    &-violet {
        @include buttonStyle($violet, white, $violet);

        &.button-flat {
            @include buttonFlat($violet);
        }
    }

    &-grey {
        @include buttonStyle($lightgrey, black, $grey);

        &.button-flat {
            @include buttonFlat($grey);
        }
    }

    &-flat {
        @include buttonFlat($blue);
    }

    &-round {
        min-width: auto;
        width: 2.5em;
        height: 2.5em;
        line-height: .1em;
        border-radius: 50%;
        padding: 0;
    }
}

.title {
    @extend %title;
    font-size: 2em;
}

.text {
    &-left {
        text-align: left;
    }

    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }
}

.form-message {
    text-align: center;
    color: #5b4d66;
    letter-spacing: .075em;
    background: #f7f5f8;
    border-radius: $borderRadius * 2;
}

.required {
    font-size: 12px;
    vertical-align: .5em;
    color: red;
}

.relative {
    position: relative;
}

.form-preloader {
    bottom: 0;
    right: 0;
}

.preloader-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(white, .5);
}

.calendar-header {
    &-date {
        font-size: 24px;
    }

    &-day {
        font-size: 18px;
    }
}
