$space: 12px;
$borderRadius: 4px;
$shadow: 0 7px 15px 0 rgba(black, .15);
$transition: 400ms;
$letterSpacing: .16em;
$contentLineHeight: 1.5;
$blue: #4470ff;
$red: #ff4929;
$green: #00af09;
$orange: #ff8800;
$yellow: #ffd900;
$violet: #b700ff;
$lightblue: #e6ddff;
$text: #2c2c2c;
$grey: #464646;
$lightgrey: #eeeeee;
$mediumgrey: #8b8b8b;
$background: #f7f7f7;
